* {
	padding: 0;
	margin: 0;
}
body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
}
a:link, a:visited {
	color: #600;
	text-decoration: none;
}
a:hover, a:active {
	color: #f00;
}
#quarantine {
	margin: 50px;
}
#content {
	margin: 20px;
	width: 800px;
}
p {
	padding: 10px;
}
h1 {
	font-size: 3em;
}
h2 {
	font-size: 2em;
	margin: 20px 0 0;
}
hr {
	margin: 10px 0;
}
ul {
	margin: 10px 0 0 30px;
	list-style-type: circle;
}
ul li {
	margin: 3px 0;
}
input, textarea {
	padding: 3px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 14px;
	border: 1px solid #999;
}
input.text {
	width: 300px;
}
fieldset {
	padding: 10px;
	margin: 20px 0;
	border: 1px dashed #aaa;
}
fieldset p {
	padding: 5px;
}
legend {
	padding: 0 10px;
	font-weight: bold;
	font-size: 2em;
}
table {
	width: 100%;
}
table.measure {
	text-align: center;
}
table th {
	text-align: left;
}
table td {
	padding: 3px;
	vertical-align: top;
}
select {
	width: 200px;
}
.submitbtn {
	width: 200px;
	margin-top: 20px;
}
#goback {
	margin: 15px;
	font-weight: bold;
}